.leaflet-control { /*форма указателя прицела линейки*/
    cursor: pointer;
}

a.polyline-measure-controlOnBgColor, a.polyline-measure-controlOnBgColor:hover { /*подсветка зеленым, если линейка активна*/
    background-color: #8f8;
}

.polyline-measure-unicode-icon {
    font-size: 17px;    /*размер крестика на кнопке очистки*/
    font-weight: bold;  /*толщина крестика на кнопке очистки*/
}

a.polyline-measure-clearControl:active {
    background-color: #f88;  /*цвет вспыхивания при нажатии на кнопку очистки*/
}

/*Добавил для вспыхивания зеленым при нажиме на кнопку*/
a.polyline-measure-clearControl1:active { 
    background-color: #8f8;
}
/*Добавил для вспыхивания зеленым при нажиме на кнопку*/
a.polyline-measure-saveControl:active { 
    background-color: #8f8;
}

.polyline-measure-tooltip { /*параметры табличек с информацией линейки с точек маршрута*/
    font: 10px Arial, Helvetica, sans-serif;
    line-height: 10px;
	/* Было background-color: rgba(255, 255, 170, 0.7);*/
    background-color: rgba(255, 255, 170, 0.0); /*убрал табличку с информацией линейки с точек маршрута*/
    border-radius: 3px;
/*    box-shadow: 1px 1px 4px #888;  */   /*убрал тень от табличек с информацией линейки*/
    margin: 0;
    padding: 2px;
    width: auto !important;
    height: auto !important;
    white-space: nowrap;
    text-align: right;
}

.polyline-measure-tooltip-end {
	/* Было background-color: rgba(255, 255, 170, 0.7);*/
    background-color: rgba(255, 255, 40, 0.0);  /*убрал табличку с информацией линейки с последней точки*/
}

.polyline-measure-tooltip-total { /*параметры шрифта отображения расстояния на линейке*/
    color: #006;
    font: 16px Arial, Helvetica, sans-serif;
    font-weight: bold;

}

.polyline-measure-tooltip-difference { /*параметры шрифта отображения разницы расстояния между соседними точками на линейке*/
    color: #060;
    font: 12px Arial, Helvetica, sans-serif;
    font-style: italic;
}

.polyline-measure-popupTooltip { /*параметры шрифта всплывающих окошек с инструкциями по перемещениею точек линейки*/
    font: 10px Arial, Helvetica, sans-serif;
    line-height: 11px;
}


