.leaflet-control {
    cursor: pointer;
}

a.polyline-measure-controlOnBgColor, a.polyline-measure-controlOnBgColor:hover {
    background-color: #8f8;
}

.polyline-measure-unicode-icon {
    font-size: 19px;
    font-weight: bold;
}

a.polyline-measure-clearControl:active {
    background-color: #f88;
}

/*Добавил для вспыхивания зеленым при нажиме на кнопку*/
a.polyline-measure-clearControl1:active { 
    background-color: #8f8;
}
/*Добавил для вспыхивания зеленым при нажиме на кнопку*/
a.polyline-measure-saveControl:active { 
    background-color: #8f8;
}

.polyline-measure-tooltip {
    font: 10px Arial, Helvetica, sans-serif;
    line-height: 10px;
	/* Было background-color: rgba(255, 255, 170, 0.7);*/
    background-color: rgba(255, 255, 170, 0.0);
    border-radius: 3px;
/*    box-shadow: 1px 1px 4px #888;  */
    margin: 0;
    padding: 2px;
    width: auto !important;
    height: auto !important;
    white-space: nowrap;
    text-align: right;
}

.polyline-measure-tooltip-end {
	/* Было background-color: rgba(255, 255, 170, 0.7);*/
    background-color: rgba(255, 255, 40, 0.0);
}

.polyline-measure-tooltip-total {
    color: #006;
    font: 16px Arial, Helvetica, sans-serif;
    font-weight: bold;

}

.polyline-measure-tooltip-difference {
    color: #060;
    font: 12px Arial, Helvetica, sans-serif;
    font-style: italic;
}

.polyline-measure-popupTooltip {
    font: 10px Arial, Helvetica, sans-serif;
    line-height: 11px;
}


