.icon {  /* класс для иконок svg на кнопках управления*/
	max-width: 70%;
	max-height: 70%;
	margin: 4px;
}

.icon1 {  /* класс для иконки на кнопке прозрачности opacity/checkers.png*/
	max-width: 70%;
	max-height: 70%;
	margin: 7px;
}

.icon2 {  /* класс для иконки на кнопке убрать выдвижную панель pan/ar.svg*/
	width: 8px;
	margin: 1px;
}

.poup-marker-header {   /* класс для заголовка всплывающего текста маркеров с фото и описаниями */
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	font-size: 20px;
	line-height: 0px;
}

.poup-marker-params { /*класс для блока всплывающего текста маркеров с фото и описаниями */
	overflow:auto; /*устанавливает в блоке полосу прокрутки*/
	width: 66px;
	height:54px;
}

.poup-marker-text { /*класс для блока всплывающего текста маркеров (описательная часть)*/
	text-align: left;
	text-indent: 30px;
	font-family: Arial;
	font-size: 17px;
	line-height: 17px;
}

.leaflet-popup-content { /*переделываю класс билиотеки leaflet для любых всплывающих окон */
    text-align: left;
	font-family: Arial;
	font-size: 17px;
	line-height: 17px;
}

.my-icon-region1  {  /*класс для крупных названий обозначентй с территориями */
	font-family: Arial;
	font-weight: normal;
	font-size: 20px;
	line-height: 0px;
	color: Crimson;
	text-align: center;
	background: transparent;
	border: 1px solid transparent;
	box-shadow: 0 1px 3px rgba(0,0,0,0.0);
}

.my-icon-region2  {  /*класс для средних названий обозначентй с территориями */
	font-family: Arial;
	font-weight: bold;
	font-size: 12px;
	line-height: 0px;
	color: Crimson;
	text-align: center;
	background: transparent;
	border: 1px solid transparent;
	box-shadow: 0 1px 3px rgba(0,0,0,0.0);
}

.my-icon-region3  {  /*класс для мелких названий обозначентй с территориями */
	font-family: Arial;
	font-weight: bold;
	font-size: 8px;
	line-height: 0px;
	color: Crimson;
	text-align: center;
	background: transparent;
	border: 1px solid transparent;
	box-shadow: 0 1px 3px rgba(0,0,0,0.0);
}

.my-icon-teren1  {  /*класс для крупных названий чисто территорий */
	font-family: Arial;
	font-weight: normal;
	font-size: 20px;
	line-height: 0px;
	color: DarkMagenta;
	text-align: center;
	background: transparent;
	border: 1px solid transparent;
	box-shadow: 0 1px 3px rgba(0,0,0,0.0);
}

.my-icon-teren2  {  /*класс для средних названий чисто территорий */
	font-family: Arial;
	font-weight: bold;
	font-size: 12px;
	line-height: 0px;
	color: DarkMagenta;
	text-align: center;
	background: transparent;
	border: 1px solid transparent;
	box-shadow: 0 1px 3px rgba(0,0,0,0.0);
}

.my-icon-teren3  {  /*класс для мелких названий чисто территорий */
	font-family: Arial;
	font-weight: bold;
	font-size: 8px;
	line-height: 0px;
	color: DarkMagenta;
	text-align: center;
	background: transparent;
	border: 1px solid transparent;
	box-shadow: 0 1px 3px rgba(0,0,0,0.0);
}

.my-icon-item {  /* класс для вывода на карту обозначений в виде tooltip */
	font-family: Arial;
	font-weight: bold;
	font-size: 18px;
	line-height: 0px;
	color: Crimson;
	text-align: center;
	background: transparent;
	border: 1px solid transparent;
	box-shadow: 0 1px 3px rgba(0,0,0,0.0);
	padding: 0px;
    margin-top: -18px;
}

.leaflet-tooltip-top:before { /* убирает нижний "носик" tooltip */
	border-top-color: transparent;
}
	
.poligon-orange .leaflet-popup-content-wrapper { /* окрашивает фон popup сухопутных полигонов */
	background: rgb(250, 150, 120);
}

.poligon-orange .leaflet-popup-tip { /* окрашивает носик фона popup сухопутных полигонов */
	background: rgb(250, 150, 120);
}

.poligon-blue .leaflet-popup-content-wrapper { /* окрашивает фон popup водных полигонов */
	background: rgb(160, 190, 250);
}

.poligon-blue .leaflet-popup-tip { /* окрашивает носик фона popup водных полигонов */
	background: rgb(160, 190, 250);
}

.poligon-magenta .leaflet-popup-content-wrapper { /* окрашивает фон popup полигонов территорий */
	background: rgb(240, 110, 240);
}

.poligon-magenta .leaflet-popup-tip { /* окрашивает носик фона popup  полигонов территорий*/
	background: rgb(240, 110, 240);
}

.text-slide {
	color: Black;
	text-align: left;
	font-family: Arial;
	font-weight: normal;
	font-size: 18px;
line-height: 0.7;
}

.text-slide-header {
	text-align: center;
	font-weight: bold;
	font-size: 20px;

}


