.icon {  /* класс для иконок svg на кнопках управления*/
  max-width: 70%;
  max-height: 70%;
  margin: 4px;
}

.poup-marker-header {   /* класс для заголовка всплывающего текста маркеров с фото и описаниями */
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	font-size: 20px;
	line-height: 0px;
}

.poup-marker-params { /*класс для блока всплывающего текста маркеров с фото и описаниями */
	overflow:auto; /*устанавливает в блоке полосу прокрутки*/
	width: 660px;
	height:500px;
}

.poup-marker-text { /*класс для блока всплывающего текста маркеров (описательная часть)*/
	text-align: left;
	text-indent: 30px;
	font-family: Arial;
	font-size: 17px;
	line-height: 17px;
}

.leaflet-popup-content { /*переделываю класс билиотеки leaflet для любых всплывающих окон*/
    text-align: left;
	font-family: Arial;
	font-size: 17px;
	line-height: 17px;
}
	
